{% extends "base.html.twig" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}
    <div class="clock">
        {{form_start(form)}}
        {{form_rest(form)}}
        <button class="btn btn-primary">Réinitialiser son mot de passe</button>
        {{form_end(form)}}
    </div>
{% endblock %}